@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c5c5c;
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    flex-direction: column;
}

.button-container {
    background: #5c5c5c;
    box-shadow: 19px 19px 38px #4e4e4e, 
             -19px -19px 38px #6a6a6a;
    align-items: center;
    border-radius: 50px;
    display: flex;
    height: 200px;
    justify-content: center;

    /* margin-right: 4rem; */
    width: 200px;
    transition: all .2s ease-in-out;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    padding: 20px 35px;
    border: none;
    background: none;
    color: whitesmoke;
    text-shadow: 0 2px 5px rgb(65, 64, 64);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.button-container:hover {
    background: linear-gradient(145deg, #535353, #626262);
    box-shadow: 8px 8px 16px #4e4e4e, 
               -8px -8px 16px #6a6a6a;
}

h1 {
    padding-bottom: 60px;
    font-size: 2rem;
    color: rgba(245, 245, 245, 0.336);
}